@model IEnumerable<RecruitmentManagementSystem__Danny_.Models.Candidate>
@*@model IPagedList<RecruitmentManagementSystem__Danny_.Models.Candidate>*@
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "RMS";
}


<style>
    table, th, td {
        border: 2px solid black;
    }

    .fontView {
        text-align: center;
        color: white;
        font-size: 14px;
        background-size: 5px;
        font-weight: bold;
        font-family: Verdana;
    }

    .fontViewWhite {
        resize: both;
        color: black;
        font-family: Verdana;
    }

    .fontViewAction {
        font-size: 14px;
        font-weight: bold;
        font-family: Verdana;
    }
</style>

<table class="table">
    <tr bgcolor="midnightblue">
        @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
        <th>
            <div class="fontView">
                @Html.DisplayName("No")
            </div>
        </th>
        <th>
            <div class="fontView">
                @*@Html.DisplayNameFor(model => model.First().Name)*@
                @Html.DisplayNameFor(model => model.Name)
            </div>
        </th>
        <th>
            <div class="fontView">
                @*@Html.DisplayNameFor(model => model.First().Position)*@
                @Html.DisplayNameFor(model => model.Position)
            </div>
        </th>
        <th style="width:250px">
            <div class="fontView">
                @Html.DisplayName("Action")
            </div>
        </th>
    </tr>

    @if (Model.Count() == 0)
    {
        <td colspan="5" style="font-size:20px; text-align:center; font-weight:bold">No data found</td>
    }
    @{int RowNo = 0;}
    @foreach (var item in Model)
    {
        <tr align="center" style='background-color: @((RowNo%2 !=0) ? "lightgrey" : "whitesmoke");'>
            <td>@{RowNo++;} @RowNo</td>
            <td>
                <div class="fontViewWhite" style=" font-size: 15px;">
                    @Html.DisplayFor(modelItem => item.Name)
                </div>
            </td>
            <td>
                <div class="fontViewWhite" style="font-size: 16px;">
                    @Html.DisplayFor(modelItem => item.Position)
                </div>
            </td>
            <td>
                <div class="fontViewAction">
                    @Html.ActionLink("✎", "Edit", new { id = item.Id }, new { @style = "color:green; font-size:18px; text-decoration:none" }) |
                    @Html.ActionLink("🔍", "Details", new { id = item.Id }, new { @style = "color:darkblue; font-size:18px; text-decoration:none" }) |
                    @Html.ActionLink("🗑️", "Delete", new { id = item.Id }, new { @class = "LinkButton", @style = "color:red; font-size:18px; text-decoration:none" })
                </div>
            </td>
        </tr>
    }

</table>
@*@Html.PagedListPager(Model, page => Url.Action("SearchUsers", new { page }))*@


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
        $(".LinkButton").on("click", function () {
            return confirm("Do you want to confirm your selection?");
        });
        @*$('dosubmit').click(function (e) {
            return confirm("Do you want to submit?");
        }*@
</script>
