@model RecruitmentManagementSystem__Danny_.Models.Home

@{
    ViewBag.Title = "Candidate Details";
}

<h2>Details</h2>
<div style='float: right;'>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MethodUsed):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MethodUsed)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNum)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gender):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Age):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpectedSalary):
        </dt>

        <dd>
            RM @Html.DisplayFor(model => model.ExpectedSalary)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrentSalary):
        </dt>

        <dd>
            RM @Html.DisplayFor(model => model.CurrentSalary)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkingExperience):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingExperience) years
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkingExperienceRemarks):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingExperienceRemarks)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResignPeriod):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResignPeriod) years
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProgrammingTest):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrammingTest) marks
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SQLTest):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SQLTest) marks
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestRemarks):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestRemarks)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
