@model IEnumerable<RecruitmentManagementSystem__Danny_.Models.InterviewReport>
<style>
    .tableStyle {
        border: 2px solid black;
    }

    .fontView {
        text-align: center;
        color: white;
        font-size: 14px;
        background-size: 5px;
        font-weight: bold;
        font-family: Verdana;
    }

    .fontViewWhite {
        resize: both;
        color: black;
        font-family: Verdana;
    }
</style>
<table class="table">
    <tr bgcolor="midnightblue" class="tableStyle">
        @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
        <th class="tableStyle">
            <div class="fontView">
                @Html.DisplayName("No")
            </div>
        </th>
        <th class="tableStyle">
            <div class="fontView">
                @Html.DisplayName("Interviewee Name")
            </div>
        </th>
        <th class="tableStyle">
            <div class="fontView">
                @Html.DisplayName("Interviewee Status")
            </div>
        </th>
        <th class="tableStyle">
            <div class="fontView">
                @Html.DisplayName("Interview Date")
            </div>
        </th>
        <th class="tableStyle"> 
            <div class="fontView">
                @Html.DisplayName("Interview Progress (1st or 2nd)")
            </div>
        </th>
        <th class="tableStyle">
            <div class="fontView">
                @Html.DisplayName("Position")
            </div>
        </th>
        <th class="tableStyle">
            <div class="fontView">
                @Html.DisplayName("Comments")
            </div>
        </th>
        <th class="tableStyle">
            <div class="fontView">
                @Html.DisplayName("Interviewer")
            </div>
        </th>
        <th class="tableStyle">
            <div class="fontView">
                @Html.DisplayName("Suggestion")
            </div>
        </th>

        @* <th>
                <div class="fontView">
                    @Html.DisplayName("InterviewResult")
                </div>
            </th>*@
        @* <th style="width:250px">
                <div class="fontView">
                    @Html.DisplayName("Action")
                </div>
            </th>*@
    </tr>

    @if (Model.Count() == 0)
    {
        <td class="tableStyle" colspan="9" style="font-size:20px; text-align:center; font-weight:bold">No data found</td>
    }
    @{int RowNo = 0;}
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr align="center" style='background-color: @((RowNo % 2 != 0) ? "lightgrey" : "whitesmoke");' class="tableStyle">
            <td class="tableStyle">@{RowNo++;} @RowNo</td>
            <td class="tableStyle">
                <div class="fontViewWhite" style=" font-size: 15px;">
                    @Html.DisplayFor(modelitem => Model.ElementAt(i).Interviewee.IntervieweeName)
                </div>
            </td>
            <td class="tableStyle">
                <div class="fontViewWhite" style=" font-size: 15px;">
                    @Html.DisplayFor(modelitem => Model.ElementAt(i).Interviewee.IntervieweeStatus)
                </div>
            </td>
            <td class="tableStyle">
                <div class="fontViewWhite" style=" font-size: 15px; width:150px">
                    @*@Html.DisplayFor(modelItem => x.InterviewDate)*@
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).InterviewDetail.InterviewDate)
                </div>
            </td>
            <td class="tableStyle">
                <div class="fontViewWhite" style=" font-size: 15px; width:150px">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).InterviewDetail.InterviewProgress)
                </div>
            </td>
            <td>
                <div class="fontViewWhite" style=" font-size: 15px;">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Candidate.Position)
                </div>
            </td>
            <td class="tableStyle">
                <div class="fontViewWhite" style=" font-size: 15px;">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).InterviewerComment.InterviewRemarks)
                </div>
            </td>
            <td class="tableStyle">
                <div class="fontViewWhite" style=" font-size: 15px;">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Interviewer.Username)
                </div>
            </td>
            <td class="tableStyle">
                <div class="fontViewWhite" style=" font-size: 15px;">
                    @Html.DisplayFor(modelItem => Model.ElementAt(i).InterviewerComment.InterviewResult)
                </div>
            </td>
        </tr>
    }
</table>
