@model RecruitmentManagementSystem__Danny_.Models.Candidate

<style>

    .fontView {
        text-align: center;
        color: white;
        font-size: 14px;
        background-size: 5px;
        font-weight: bold;
        font-family: Verdana;
    }
</style>

<table style="border:hidden; width:100%">
    <td style="border:hidden">
        <h2 style="font-family:Verdana; font-weight:bold">Recruitment Report</h2>
    </td>
</table>
<hr />
    <table style="border:hidden">
        <tr>
            <td style="border:hidden">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.Label("Method Used: ", htmlAttributes: new { @class = "col-sm-10" })
                    </dt>
                    <dd>
                        @Html.DropDownList("ddlMethodUsed", Model.MethodUsedList, "Select All", new { @style = "color: black; padding: 8px 35px; border: 2px solid darkgrey; text-align:center" })
                    </dd>
                </dl>
            </td>
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.Label("Position: ", htmlAttributes: new { @class = "col-sm-10" })
                    </dt>
                    <dd>
                        @Html.DropDownList("ddlPosition", Model.PositionList, "Select All", new { @style = "color: black; padding: 8px 35px; border: 2px solid darkgrey; text-align:center" })
                    </dd>
                </dl>
            </td>
        </tr>
    </table>
<br />
    <button id="button" class="btn btn-primary button button4">View</button>

    <div id="gridSearch"></div>


<script>
   @* $(".btn btn-primary button button4").on("click", function () {
        getTable();
    });*@

    $('#button').click(function () {
        getTable();
    });

    function getTable() {
        $.ajax({
            url: '@Url.Action("ShowRecruitmentReportTable", "Report")',
            datatype: 'html',
            method: 'GET',
            data: { searchMethodUsed: $('#ddlMethodUsed').val(), searchPosition: $('#ddlPosition').val()},
            success: function (res) {
                $('#gridSearch').html('').html(res);
            },
            error: function (err) {
                console.log(err);
            }
        })
    }
</script>



