@model RecruitmentManagementSystem__Danny_.Models.Interview
@using RecruitmentManagementSystem__Danny_.DAL;
@using RecruitmentManagementSystem__Danny_.Models;

@{
    ViewBag.Title = "Set interview details";
}

@section Styles{
    @Styles.Render("~/Content/chosen")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundle/chosen")

    <script type="text/javascript" src="https://ajax.googlapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="styleshee" href="https://maxcdn.boostrapcdn.com/bootstrap/3.3.7/css/boostrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/Content/themes/base/tpicker.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/tpicker.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/chosen.min.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        //$(function () {
        //    $(".chosen-interviewer").chosen();
        //});

        $(document).ready(function () {
            $('.chosen-interviewer').chosen();
        });
    </script>



    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: 'dd-M-yy',
                changeMonth: true,
                changeYear: true,
                showOn: "button",
                minDate: "+1",
                //buttonText: "<span class='glyphicon glyphicon-calendar'></span>",
                buttonText: "Select Date",
                yearRange: "-60:+60"
            });
        });


    </script>
}

<h2>@ViewBag.intervieweeName</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    string message = ViewBag.Message;
    @Html.Hidden("Message", message)

    int candidateId = ViewBag.intervieweeId;
    <div style="border:hidden; float:right">
        <h4 style="font-family:'Clarendon BT'; font-size:16px;">@Html.ActionLink("Display Candidate Details", "Details/" + candidateId, "Candidates")</h4>
    </div>

    <div class="form-horizontal">
        <h4>Set interview details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.Label("Select Interviewer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("selectInterviewer", new List<SelectListItem>
                {
                      new SelectListItem { Text = "Sky", Value = "Sky"},
                      new SelectListItem { Text = "Danny", Value = "Danny"},
                      new SelectListItem { Text = "Gordon", Value = "Gordon"},
                      new SelectListItem { Text = "Steven", Value = "Steven"}
                },
                new { @class = "form-control chosen-interviewer", multiple = "multiple" })
            </div>
        </div>

        <div class="form-group">

            @*<div class="form-group">
                    @Html.Label("Interview Time", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("interviewTime", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.Label("Interview Date", htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @{
                        var dateTdy = DateTime.Today;
                        var dateTmr = dateTdy.AddDays(1);
                    }
                    @Html.Editor("interviewDate",
                new
                {

                    htmlAttributes = new
                    {
                        @readonly = "true",
                             Value = dateTmr.ToShortDateString(),
                            @*@readonly = "true", Value = Model.DateOfBirth.ToString("dd-MM-yyyy"),*@
@class = "form-control datepicker",
}
})
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Interview Time", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input id="timepkr" style="width:100px; float:left;" class="form-control" placeholder="HH:MM"<
                    @Html.Editor("interviewTime", new { htmlAttributes = new { @class = "form-control" } })
                    <button type="button" class="btn btn-primary" onclick="showpickers('timepkr',24)" style="width:35px; height:35px; float:left;" /><i class="fa fa-clock-o"></i>
                    @* @Html.Editor("timepkr", new { htmlAttributes = new { @class = "form-control" } })*@
                </div>
                <div class="timepicker"></div>
                <span id="error" style="margin-left:215px;"></span>
            </div>
            <br /><br />


            <div class="form-group" style="float:right; margin-right:300px">
                <div class="col-md-offset-2 col-md-10">
                    @{
                        var data = ViewBag.Message;
                    }
                    @if (data == "FirstInterview" && Model.FirstInterviewerStatus == "TBA")
                    {
                        <input name="submit" type="submit" id="submit" value="Save" onclick="errorMessage()" class="btn btn-default" />
                    }
                    else if (data == "FirstInterview" && Model.FirstInterviewerStatus == "No")
                    {
                        <input name="process" type="submit" id="process" value="Update" onclick="errorMessage()" class="btn btn-default" />
                    }
                    else if (data == "SecondInterview" && Model.SecondInterviewerStatus == "TBA")
                    {
                        <input name="submit" type="submit" id="submit" value="Save" onclick="errorMessage()" class="btn btn-default" />
                    }
                    else if (data == "SecondInterview" && Model.SecondInterviewerStatus == "No")
                    {
                        <input name="process" type="submit" id="process" value="Update" onclick="errorMessage()" class="btn btn-default" />
                    }
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function errorMessage() {
        var error = document.getElementById("error")
        if (document.getElementById("timepkr").value === "") {

            // Changing content and color of content
            error.textContent = "Error: Please select interview time"
            error.style.color = "red"
            event.preventDefault()
            return false;
        } else {
            error.textContent = ""
            return true;
        }
    }
</script>