@model RecruitmentManagementSystem__Danny_.Models.Interview
@using RecruitmentManagementSystem__Danny_.DAL;
@using RecruitmentManagementSystem__Danny_.Models;
@{
    ViewBag.Title = "UpdateInterviewDetails";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="https://ajax.googlapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>\
    <link rel="styleshee" href="https://maxcdn.boostrapcdn.com/bootstrap/3.3.7/css/boostrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="~/Content/themes/base/tpicker.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/tpicker.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker({
                dateFormat: 'dd-M-yy',
                changeMonth: true,
                changeYear: true,
                showOn: "button",
                minDate: "+1",
                //buttonText: "<span class='glyphicon glyphicon-calendar'></span>",
                buttonText: "Select Date",
                yearRange: "-60:+60"
            });
        });
    </script>
}

<h2>@ViewBag.intervieweeName @ViewBag.num @ViewBag.Roles</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    //string interviewDetailId = ViewBag.IntervieweDetailId;
    @*@Html.Hidden("InterviewDetailId", interviewDetailId)*@
    string interviewProgress = ViewBag.Progress;
    @Html.Hidden("Progress", interviewProgress)
    int interviewDetailId = ViewBag.InterviewDetailId;
    @Html.Hidden("InterviewDetailId", interviewDetailId)
    int interviewerNum = ViewBag.num;
    @Html.Hidden("InterviewerNum", interviewerNum)
    //string interviewRemarks = ViewBag.InterviewRemarks;
    //string interviewResult = ViewBag.InterviewResult;

    int candidateId = ViewBag.intervieweeId;
    <div style="border:hidden; float:right">
        <h4 style="font-family:'Clarendon BT'; font-size:16px;">@Html.ActionLink("Display Candidate Details", "Details/" + candidateId, "Candidates")</h4>
    </div>

    <div class="form-horizontal">
        <h4>Update interview details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        @if (ViewBag.num == 2)
        {
            <div class="form-group">
                @Html.Label("Select Interviewer", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("selectInterviewer", new List<SelectListItem>
                    {
                          new SelectListItem { Text = "Sky", Value = "Sky"},
                          new SelectListItem { Text = "Danny", Value = "Danny"},
                          new SelectListItem { Text = "Both", Value = "Both", Selected=true}
                    }, "Select Interviewer")
                    @Html.Hidden("SelectedInterviewer", "Both")
                </div>
            </div>
        }
        else if (ViewBag.num == 1)
        {

            if (ViewBag.interviewer == 1)
            {
                <div class="form-group">
                    @Html.Label("Select Interviewer", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("selectInterviewer", new List<SelectListItem>
                        {
                              new SelectListItem { Text = "Sky", Value = "Sky", Selected=true},
                              new SelectListItem { Text = "Danny", Value = "Danny"},
                              new SelectListItem { Text = "Both", Value = "Both"}
                        })
                        @Html.Hidden("SelectedInterviewer", "Sky")
                    </div>
                </div>
            }
            if (ViewBag.interviewer == 2)
            {
                <div class="form-group">
                    @Html.Label("Select Interviewer", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("selectInterviewer", new List<SelectListItem>
                        {
                              new SelectListItem { Text = "Sky", Value = "Sky"},
                              new SelectListItem { Text = "Danny", Value = "Danny", Selected=true},
                              new SelectListItem { Text = "Both", Value = "Both"}
                        }, "Select Interviewer")
                        @Html.Hidden("SelectedInterviewer", "Danny")
                    </div>
                </div>
            }
        }

        <div class="form-group">

            @*<div class="form-group">
                    @Html.Label("Interview Time", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("interviewTime", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.Label("InterviewDate", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("interviewDate",
                new
                {
                    htmlAttributes = new
                    {
                        @readonly = "true",
                             Value = @Convert.ToDateTime(ViewBag.InterviewDate).ToString("dd-MMM-yyyy"),
                        @class = "form-control datepicker"
                }
                })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.Label("Interview Time"+ ViewBag.InterviewTime, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>*@

            <div class="form-group">
                @Html.Label("Interview Time", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input id="timepkr" style="width:100px; float:left;" class="form-control" placeholder="HH:MM"<
                    @Html.Editor("interviewTime", new { htmlAttributes = new { @class = "form-control" } })
                    <button type="button" class="btn btn-primary" onclick="showpickers('timepkr',24)" style="width:35px; height:35px; float:left;" /><i class="fa fa-clock-o"></i>
                </div>
                <div class="timepicker"></div>
            </div>

            @*<br /><br />
                <h4 style="font-family:'Clarendon BT'; font-size:16px; font-weight:bold; color:darkslateblue; margin-left:10px" ;>Candidate's Result (Optional)</h4><hr />
                <div class="form-group">
                    @Html.Label("Interview Remarks", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextArea("interviewRemarks", new { @style = "resize: none; height:100px; width: 500px", htmlAttributes = new { @class = "form-control" }, @row = 8 })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Interview Result", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @if(interviewResult == null)
                        {
                        <input id="interviewResult" name="interviewResult" value="SuggestHire" type="radio"> @:Suggest Hire<br>
                        <input id="interviewResult" name="interviewResult" value="NotSuggestToHire" type="radio"> @:Not Suggest To Hire<br>
                        <input id="interviewResult" name="interviewResult" value="KIV" type="radio"> @:KIV<br>
                        }
                        else if (interviewResult.Equals("SuggestHire"))
                        {
                            <input id="interviewResult" name="interviewResult" value="SuggestHire" type="radio" checked="checked"> @:Suggest Hire<br>
                            <input id="interviewResult" name="interviewResult" value="NotSuggestToHire" type="radio"> @:Not Suggest To Hire<br>
                            <input id="interviewResult" name="interviewResult" value="KIV" type="radio"> @:KIV<br>
                        }
                        else if (interviewResult.Equals("NotSuggestToHire"))
                        {
                            <input id="interviewResult" name="interviewResult" value="SuggestHire" type="radio"> @:Suggest Hire<br>
                            <input id="interviewResult" name="interviewResult" value="NotSuggestToHire" type="radio" checked="checked"> @:Not Suggest To Hire<br>
                            <input id="interviewResult" name="interviewResult" value="KIV" type="radio"> @:KIV<br>
                        }
                        else if (interviewResult.Equals("KIV"))
                        {
                            <input id="interviewResult" name="interviewResult" value="SuggestHire" type="radio"> @:Suggest Hire<br>
                            <input id="interviewResult" name="interviewResult" value="NotSuggestToHire" type="radio"> @:Not Suggest To Hire<br>
                            <input id="interviewResult" name="interviewResult" value="KIV" type="radio" checked="checked"> @:KIV<br>
                        }


                    </div>
                </div>*@


            <div class="form-group" style="float:right; margin-right:300px">
                <div class="col-md-offset-2 col-md-10">
                    @{
                        var data = ViewBag.Message;
                    }
                    @if (Model.IntervieweeStatus == "Pending")
                    {
                        if (data == "FirstInterview" && Model.FirstInterviewerStatus == "TBA")
                        {
                            <input name="submit" type="submit" id="submit" value="Save" class="btn btn-default" />
                        }
                        else if (data == "FirstInterview" && Model.FirstInterviewerStatus == "No")
                        {
                            <input name="process" type="submit" id="process" value="Update" class="btn btn-default" />
                        }
                        else if (data == "SecondInterview" && Model.SecondInterviewerStatus == "TBA")
                        {
                            <input name="submit" type="submit" id="submit" value="Save" class="btn btn-default" />
                        }
                        else if (data == "SecondInterview" && Model.SecondInterviewerStatus == "No")
                        {
                            <input name="process" type="submit" id="process" value="Update" class="btn btn-default" />
                        }
                    }

                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


